.main {
    padding-left: 0;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.account-container {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 85px auto 50px auto;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 9999;
    position: relative;
}

.account-container h1 {
    margin-bottom: .5em;
    color: #263238;
    /* #e91e63 */
}

.content {
    padding: 20px;
}

.account-container .content form {
    margin-bottom: 0;
}

.register-fields .register-fields-left {
    width: 47%;
    display: inline-block;
    margin-right: 30px;
    float: left;
}

.register-fields .register-fields-right {
    width: 47%;
    display: inline-block;
    float: left;
}

.register-fields .field > input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    -appearance: textfield;
}

.register-fields .field > input {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 37px;
    background: none;
    box-shadow: inset 0 -1px 0 #d2d2d2;
}

.register-fields .field > input:focus {
    box-shadow: inset 0 -2px 0 #263238;
    outline: none;
}

.register-fields .field {
    margin-bottom: 1.25em;
}

.register-fields label {
    display: none;
}

.register-fields > p {
    font-size: 15px;
}

.register-fields input {
    font-family: 'Open Sans';
    font-size: 15px;
    color: #8e8d8d;
    padding: 11px 15px 10px 50px;
    background-color: #fdfdfd;
    width: 255px;
    display: block;
    margin: 0;
    box-shadow: inset 2px 2px 4px #f1f1f1;
}

.register-fields .field > select {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    height: 37px;
    background: none;
    box-shadow: inset 0 -1px 0 #ddd;
    font-family: 'Open Sans';
    font-size: 15px;
    color: #8e8d8d;
    margin-bottom: 0;
}

.register-fields .field > select:focus {
    outline: none;
}

.black-text {
    color: #000;
}

.btn-link {
    box-shadow: none;
    background-color: #263238;
    color: #ffffff;
}

.btn-link:focus,
.btn-link:active,
.btn-link:hover {
    box-shadow: none;
    outline: none;
    text-decoration: none;
    background-color: #3a5360;
    color: #ffffff;
}

.button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 18px;
    width: 130px;
    height: 35px;
    font-size: 17px !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    user-select: none;
    background-image: none;
    border: none;
    font-weight: 400;
    position: relative;
    border-radius: 4px;
}

.register-actions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: left;
}

.register-actions > p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}

.register-actions > p > a {
    text-decoration: none;
    color: #016cda;
}

.register-actions > p > a:hover {
    color: #5da8f6;
}

.text-danger {
    font-weight: bold;
}

.text-success {
    font-weight: bold;
}

@media (max-width: 768px) {
    .register-fields .register-fields-left,
    .register-fields .register-fields-right {
        width: 100% !important;
    }
}