/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.login-actions {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.login-actions > p {
    margin-bottom: 0;
    font-size: 15px;
}

.login-actions > p > a {
    text-decoration: none;
    color: #016cda;
}

.login-actions > p > a:hover {
    color: #5da8f6;
}
.account-container {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 85px auto 50px auto;
    background: #E5E4E2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: -10px;
     position: relative;
}