<link href="assets/css/pages/nav.css" rel="stylesheet">
<div class="topnav">
  <div class="topnav-right">
    <a href="#login" ng-click = "logOut()">LogOut</a>
  </div>
</div>

<div class="container">
    <h2>Todo List</h2>
    
    <form ng-submit="todoAdd()" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="todoInput" size="40" placeholder="Write new todo">
        </div>
        <input type="submit" value="Add todo" class="btn btn-success">
    </form>
    
    <hr>
    <div ng-repeat="x in todoList" class="list-group-item list-group-item-warning">
       <button class="btn"  style="float: right;" ng-click = "deleteItem(x, $index)"><i class="fa fa-close"></i></button> <span ng-bind="x.task_name"></span>
    </div>
	<div>
	</div>
	
</div>