<link href="assets/css/pages/signin.css" rel="stylesheet">
<div class="account-container">
    <div class="content clearfix">
        <form name="loginForm" ng-submit="login()" role="form">
            <h1>Sign in</h1>
            <div ng-show="error" class="text-danger">{{errorMsg}}</div>
            <br>
            <div class="login-fields">
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="" placeholder="Username" ng-model="username" class="login username-field" required/>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="" ng-model="password" placeholder="Password" class="login password-field" required/>
                </div>
            </div>
            <div class="login-actions">
                <button ng-class="{'disabled':loginForm.$invalid}">LOGIN</button>
                <p>Dont have an account? <a href="#/register">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>