<link href="assets/css/pages/register.css" rel="stylesheet">
<div class="account-container">
    <div class="content clearfix">
        <form name="register_form" ng-submit="registerUser()" role="form">
            <div class="register-actions">
                <div class="alert alert-danger failed" role="alert" ng-show="registrationFailed" ng-model="registerMessage"></div>
            </div>
            <h1>Register</h1>
            <div class="register-fields">
                <p>Enter your details</p>
                <div ng-show="error" class="text-danger"><b>{{errorMsg}}</b></div>
                <br>
                <div>
                    <div class="field">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname" value="" placeholder="First Name" ng-model="user.firstName" class="register firstname-field" required/>
                        <span ng-show="register_form.firstname.$error.required && register_form.firstname.$dirty">required</span>
                    </div>
					 <div class="field">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname" value="" placeholder="Last Name" ng-model="user.lastName" class="register lastname-field" required/>
                        <span ng-show="register_form.lastname.$error.required && register_form.lastname.$dirty">required</span>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" ng-style="emailStyle" ng-change="emailChange()" ng-focus="enrollmentIdFocus()" id="email" name="email" value="" placeholder="Email" ng-model="user.email" class="register firstname-field" autocomplete="off"></input>
                        <span ng-show="register_form.email.$error.required && register_form.email.$dirty">required</span>
                        <span ng-show="!register_form.email.$error.required && register_form.email.$error.email && register_form.email.$dirty">invalid email</span>
                    </div>
					<div class="field">
                        <label for="password">Password</label>
                        <input type="password" ng-minlength="6" id="password" name="password" value="" placeholder="Password" ng-model="user.password" class="register firstname-field" autocomplete="off" required></input>
                           <span
              ng-show="register_form.password.$dirty && register_form.password.$invalid">
          Please enter a new password, it must be at least 6 characters long.
        </span>
						  </div>
					<div class="field">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" value-matches="user.password" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password" ng-model="user.confirm_password" class="register firstname-field" autocomplete="off"></input>
                           <span
              ng-show="register_form.confirm_password.$dirty && register_form.confirm_password.$invalid">
          Please enter the same password again to confirm.
        </span>
						  </div>
                   
                </div>
                
            </div>
            <div class="register-actions">
                <button data-ng-disabled="register_form.$invalid || emailExist">REGISTER</button>
                <p>Already have an account? <a href="#/login">Sign In</a></p>
            </div>
        </form>
    </div>
</div>